{{#if editing}}
  {{example-component/form example=example updateExample='updateExample' toggleEditing='toggleEditing' editForm=true}}
{{else if example.editable}}
  {{example.text}}
  <button class="btn-xs btn-primary" {{ action 'toggleEditing' }}>Edit</button>
  <button class='btn-xs btn-danger' {{ action 'deleteExample' }}>Delete</button>
{{else}}
  {{example.text}}
{{/if}}
