{{#bs-navbar type=(if inverse 'inverse') fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "application" class="navbar-brand"}}INTO{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav class='navbar-right' as |nav|}}
      {{#if isAuthenticated}}
        {{#nav.item}}{{#nav.link-to "account"}}Accounts{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "change-password"}}Change Password{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}<a href="#" {{action "signOut"}}>Sign Out</a>{{/nav.item}}
      {{else}}
        {{#nav.item}}{{#nav.link-to "sign-up"}}Sign Up{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "sign-in"}}Sign In{{/nav.link-to}}{{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  <h1>What are you INTO?</h1>
  <p>INTO pulls data from all your favorite media streaming services like Spotify, Netflix, Steam, and Audible and examines what you've been into recently. As a user of INTO, you can generate a 3x3 image of you everything you've been into over the past 7 days.</p>
  {{outlet}}
</div>
