<form {{action 'updateAccount' on="submit"}}>
  {{#if editForm}}
    <label for="services">Service</label>
    {{input placeholder="Service" value=account.service required=true}}
    <label for="usernames">Username</label>
    {{input placeholder="Username" value=account.username required=true}}
    <button class='btn-xs btn-primary' type="submit">Update</button>
    <button class='btn-xs btn-danger' {{action 'cancel'}}>Cancel</button>
  {{else}}
    <label for="services">Service</label>
    {{input placeholder="Service" value=newAccount.service required=true}}
    <label for="usernames">Username</label>
    {{input placeholder="Username" value=newAccount.username required=true}}
    <button class='btn-xs btn-primary' type="submit">Add</button>
  {{/if}}
</form>
